<h3>What I am learning</h3>

<ul>
  <li>
    <a href="https://practical-accessibility.today/"
      >Practical accessibility course</a
    > by <a href="https://sarasoueidan.com/">Sara Soueidan</a>
  </li>
  <li>
    <a href="https://github.com/webcomponents-cg/docs-and-guides"
      >Web components</a
    >
  </li>
  <li>
    <a href="https://www.duolingo.com/course/de/de/Learn-German"
      >German using Duolingo</a
    >
  </li>
</ul>
