@import url("./tokens/styleguide.css");

@import url("./atoms/top-accent-border.css");
@import url("./typography/index.css");

:root {
  /* Color Palette */
  --color-primary-bright003: #e5e528;
  --color-primary-bright002: #a0da44;
  --color-primary-bright001: #5bcb60;
  --color-primary-mid004: #00b878;
  --color-primary-mid003: #00a289;
  --color-primary-mid002: #008c8f;
  --color-primary-mid001: #00748a;
  --color-primary-dark003: #005d7b;
  --color-primary-dark002: #114763;
  --color-primary-dark001: #243247;

  --border-radius-default: 0.5rem;

  --padding-default: 1rem;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-neutral50);
  font: 300 100% / var(--content-line-height) var(--font-family-copy);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-neutral900);
  font-family: var(--font-family-heading);
}

.standard-layout {
  margin: 0 auto;
  max-width: 90em;
}

.girdle {
  margin: 0 auto;
  max-width: var(--max-width);
}

.max-line-length {
  max-width: var(--max-line-length-fallback);
  max-width: 85ch;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
