@use "../tokens/styleguide";

h1 {
  font-size: styleguide.$xxl-font-size;
}

h2 {
  font-size: styleguide.$xl-font-size;
}

h3 {
  font-size: styleguide.$large-font-size;
}

h4 {
  font-size: styleguide.$medium-font-size;
}

h5 {
  font-size: styleguide.$small-medium-font-size;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: styleguide.$heading-line-height;
}

h1,
p {
  margin-bottom: 24px;
}

.main-content {
  font-size: 1.2rem;
}

.display {
  font-size: styleguide.$display;
}

.tiny-font {
  font-size: styleguide.$tiny-font-size;
}
