.button,
.button-ghost {
  cursor: pointer;
}

.button-ghost {
  background: none;
  border: 0;
}

.button {
  /* to ensure a border is visible on Windows high-contrast mode */
  border: var(--minimalist-button-border-default, var(--border-transparent));
  display: inline-block;
  max-inline-size: max-content;
  padding-block: var(--minimalist-button-padding-block, var(--size-8));
  padding-inline: var(--minimalist-button-padding-inline, var(--size-16));
  text-decoration: none;

  &:active {
    margin-block-start: var(--size-1);
    margin-inline-start: var(--size-1);
  }

  &.rounded {
    border-radius: var(
      --minimalist-button-border-radius-default,
      var(--border-radius-default)
    );
  }

  &.bordered {
    border: var(
      --minimalist-button-primary-border,
      var(--border-primary-border)
    );
  }

  &.outline {
    background-color: transparent;
    border: var(
      --minimalist-button-primary-border,
      var(--border-primary-border)
    );
  }

  &.solid {
    background-color: var(
      --minimalist-button-bg-color,
      var(--color-neutral-90)
    );
    border-color: var(
      --minimalist-button-solid-border-color,
      var(--color-neutral-90)
    );
    color: var(
      --minimalist-button-solid-txt-color,
      var(--color-neutral-inverted)
    );
    transition: background-color 0.2s ease-in;

    &:focus,
    &:hover {
      background-color: var(
        --minimalist-button-hover-bg-color,
        var(--color-neutral-80)
      );
      border-color: var(
        --minimalist-button-solid-hover-border-color,
        var(--color-neutral-80)
      );
    }
  }
}

.button-icon {
  align-items: center;
  display: flex;
  gap: var(--minimalist-button-icon-gap, var(--size-8));

  &.inline-end {
    flex-direction: row-reverse;
  }

  svg {
    block-size: var(--minimalist-icon-default-size, var(--icon-default-size));
    inline-size: var(--minimalist-icon-default-size, var(--icon-default-size));
  }
}
