@use "../../tokens/styleguide";

.top-accent-border {
  display: flex;
  height: 6px;

  .brand-dark {
    background-color: styleguide.$color-primary900;
    flex: 50%;
  }

  .brand-accent-primary {
    background-color: styleguide.$color-accent-primary;
    flex: 50%;
  }
}
