:root {
  --color-blue-base-60: #0342a4;
--color-blue-base-50: #2356ae;
--color-blue-base-40: #3b69b9;
--color-blue-base-30: #537cc2;
--color-blue-base-20: #6a8fcc;
--color-blue-base-10: #82a1d5;
--color-blue-light-40: #9ab4de;
--color-blue-light-30: #b3c6e7;
--color-blue-light-20: #ccd9ef;
--color-blue-light-10: #e5ecf7;
--color-blue-dark-10: #012564;
--color-blue-dark-20: #011c50;
--color-blue-dark-30: #00143d;
--color-blue-dark-40: #000b2b;
--color-primary-base-60: #b04198;
--color-primary-base-50: #ba56a2;
--color-primary-base-40: #c36aad;
--color-primary-base-30: #cb7db7;
--color-primary-base-20: #d48fc1;
--color-primary-base-10: #dca2cb;
--color-primary-light-10: #f9ecf5;
--color-primary-light-20: #f2d9ea;
--color-primary-light-30: #ebc7e0;
--color-primary-light-40: #e4b4d6;
--color-primary-dark-40: #1c0517;
--color-primary-dark-30: #2e0b27;
--color-primary-dark-20: #421338;
--color-primary-dark-10: #561c4a;
--color-secondary-base-60: #692c91;
--color-secondary-base-50: #77439d;
--color-secondary-base-40: #8558a8;
--color-secondary-base-30: #946cb4;
--color-secondary-base-20: #a381bf;
--color-secondary-base-10: #b295ca;
--color-secondary-light-40: #c1aad5;
--color-secondary-light-30: #d0bfe0;
--color-secondary-light-20: #dfd4ea;
--color-secondary-light-10: #efe9f5;
--color-secondary-dark-40: #180525;
--color-secondary-dark-30: #240a35;
--color-secondary-dark-20: #311146;
--color-secondary-dark-10: #3e1758;
--color-highlight-base-60: #f18562;
--color-highlight-base-50: #f49272;
--color-highlight-base-40: #f69e82;
--color-highlight-base-30: #f9ab92;
--color-highlight-base-20: #fbb7a1;
--color-highlight-base-10: #fcc3b1;
--color-highlight-light-40: #fecfc0;
--color-highlight-light-30: #fedbd0;
--color-highlight-light-20: #ffe7df;
--color-highlight-light-10: #fff3ef;
--color-highlight-dark-40: #2b130b;
--color-highlight-dark-30: #432116;
--color-highlight-dark-20: #5d3021;
--color-highlight-dark-10: #79402d;
--color-neutral-90: #212121;
--color-neutral-80: #333333;
--color-neutral-70: #474747;
--color-neutral-60: #5c5c5c;
--color-neutral-50: #717171;
--color-neutral-40: #878787;
--color-neutral-30: #9e9e9e;
--color-neutral-20: #b5b5b5;
--color-neutral-10: #cdcdcd;
--color-neutral-05: #e6e6e6;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  display: none;
  gap: 1rem;
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: flex;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    margin-left: 5em;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

.reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
