@use "../tokens/styleguide";

@mixin girdle() {
  margin: 0 auto;
  max-width: styleguide.$max-width;
}

@mixin max-line-length() {
  max-width: styleguide.$max-line-length-fallback;
  max-width: 85ch;
}
