---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Posts from "@components/Posts.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const pageTitle = `Posts tagged with ${tag}`;
---

<BaseLayout pageTitle={pageTitle}>
  <main class="main-content" id="main-content">
    <h1>{pageTitle}</h1>
    <Posts posts={posts} />
  </main>
</BaseLayout>
