---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Who dat?";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="main-content" id="main-content">
    <h1>{pageTitle}</h1>
    <p class="lead">
      Hiya! Thank you for visiting my little corner of the web. My name is
      Schalk Neethling, and I live in Pretoria, South Africa.
    </p>
    <p>
      I was born on the 11th of December, 1976, and attended primary school at
      Danie Malan Primary and then later senior levels at Pretoria North High. I
      never really felt at home in a school environment and dropped out at age
      16 to pursue a career as a guitarist, songwriter, and composer. I studied
      classical guitar and music theory with private teachers during the day and
      was the lead guitarist and songwriter for the death metal band Maleficent
      at night. From time to time I would also be a session musician for a
      popular local blues band.
    </p>
    <p>
      After several attempts to secure a record deal, the band unfortunately
      disbanded, and I focused on my classical guitar career. I reached the high
      point of my career in the late nineties when I did a small tour in South
      Africa, playing at various art festival venues. I visited the UK and the
      Netherlands, recorded a CD (<a
        href="https://drive.google.com/drive/folders/0B2tH86feHqxkOEFjOFRkSHVBTFk?resourcekey=0-pU8bwRT8wTX3TyNLF6JsZw&usp=sharing"
        >you can download a free copy here</a
      >), and taught classical guitar at Pretoria Boys High (this was after Elon
      Musk graduated and left to do all the things in the United States).
    </p>
    <p>
      I started a family early when I met and married my true love on the 4th of
      July, 1998. After some time, I realized that music would not allow me to
      take care of myself and my family financially. I needed to pivot and find
      a new career path.
    </p>
    <p>
      Without getting into the weeds too much, I eventually discovered the world
      of software development and found my niche in front-end development. I was
      part of the <a
        href="https://en.wikipedia.org/wiki/Blue_Beanie_Day#:~:text=Blue%20Beanie%20Day%20is%20an,of%20Designing%20with%20Web%20Standards."
        >blue beanie movement</a
      >, played around with the <a href="http://www.csszengarden.com/"
        >CSS Zen Garden</a
      >, built numerous website intros using <a
        href="https://en.wikipedia.org/wiki/Macromedia"
        >Macromedia (Adobe) Flash</a
      >, and designed many, many brand identities. I worked for some companies
      that made me realize the corporate world was not for me.
    </p>
    <p>
      This led me to join Mozilla in late 2011, a dream come true. I spent
      nearly 12 years at Mozilla, some of which was the best years of my life.
      It was during my time at Mozilla that I solidified my passion for open
      source, the open web, and building an accessible and inclusive web, based
      on web standards and best practices.
    </p>
    <p>
      I strive to be a kind-hearted advocate for mental health and am committed
      to spreading kindness, mindfulness, and awareness about mental illness,
      devoid of stigma. As an indie maker, open-source developer, and podcaster,
      I love bringing new ideas to life and elevating voices that aim to make a
      positive impact. I believe in respect, openness, and being open to change.
    </p>
    <p>
      My role as a teacher and mentor has shown me the joy of sharing knowledge
      and empowering others. I am dedicated to improving the world by amplifying
      voices with similar visions, striving to create a brighter future, one
      opportunity and voice at a time.
    </p>
    <p>
      If you want to know what I am up to today, the best place for this <a
        href="/now"
      >
        my /now page</a
      > which I try to keep as up-to-date as possible.
    </p>
  </main>
</BaseLayout>
