---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Get in touch!";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="main-content" id="main-content">
    <h1>Get in touch!</h1>
    <p class="lead">
      I am always excited to connect with others in the tech community. Whether
      you're interested in having me as a guest on your podcast, inviting me to
      speak at your conference, seeking an author for your publication, or need
      a technical reviewer for frontend web development books, I'm here to help.
      With a deep passion for the web platform, open source, and web
      accessibility, I welcome your comments and questions. <a
        href="mailto:schalk@mechanical.ink">Feel free to reach out</a
      > &mdashl; let's collaborate and make the web a better place together.
    </p>
  </main>
</BaseLayout>
