---
import BaseLayout from "../layouts/BaseLayout.astro";

import HomepageHero from "../components/Home/HomepageHero.astro";
import LatestPosts from "../components/LatestPosts.astro";
import TheCollective from "../components/Home/TheCollective.astro";
const pageTitle = "Scripting on Caffeine";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="u-container">
    <HomepageHero />
  </div>
  <main class="u-container" id="main-content">
    <LatestPosts />
    <TheCollective />
  </main>
</BaseLayout>
