---
import CurrentlyLearning from "@components/Now/CurrentlyLearning.astro";
import CurrentlyReading from "../components/Now/CurrentlyReading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "What I'm doing now";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="u-container" id="main-content">
    <h1>What I'm doing now</h1>

    <p>
      I live in <a href="https://www.openstreetmap.org/relation/594484"
        >Pretoria, South Africa</a
      > with my wife, three kids, five dogs and three cats. Like some folks at work
      said, at this point the pets have us. 😃
    </p>

    <p>
      I am also <a
        href="https://schalkneethling.github.io/html-comprehensive-guide/"
        >writing a book on HTML called HTML, a comprehensive guide</a
      >. <a href="https://github.com/schalkneethling/html-comprehensive-guide"
        >It is written in the open, available as open source</a
      > and your feedback is welcomed and encouraged. I write the book by <a
        href="https://html.spec.whatwg.org/#toc-semantics"
        >reading the HTML specification</a
      > and other resources such as <a
        href="https://developer.mozilla.org/en-US/docs/web/html">MDN Web Docs</a
      >, and have a core focus on teaching you how to use HTML to make more
      semantic and accessible web experiences.
    </p>

    <h2>Work</h2>
    <p>
      Starting on 21 May 2024, I am a senior frontend engineer at <a
        href="https://factorial.io">Factorial Gmbh</a
      >. More than an agency we develop customer experiences with a focus on web
      accessibility, the open web platform, privacy, ethical tech, and open
      source.
    </p>

    <h3>My current focus areas</h3>
    <p>
      For the longest time I was running around chasing my own tail trying to
      keep up with everything and constantly suffering from the fear of missing
      out (FOMO). For me, this has not been a very successful way to try and
      manage my time and energy. It took me some time, critical thinking and
      being brutally honest with myself, but in the end I do believe that
      focused attention will be more effective than what I have doing for the
      past year.
    </p>
    <p>
      For the coming year my primary focus will be on my work at Factorial. In
      support of this I am refining my overall focus to the following areas:
    </p>

    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Web APIs</li>
    </ul>

    <p>
      When learning, writing about, and expanding my knowledge of these areas my
      focus will be on web accessibility, performance, and the effective use of
      web components. Unless I am guest posting, all my writing will happen on
      this blog. On the open source side I will be focusing on completing my
      book on HTML, finishing the first version of the CSS library minimalist,
      and iteratively improving the MakerBench.
    </p>

    <p>
      What now? Go <a href="https://sive.rs/nowff"
        >read about the origin of the <code>/now</code> page movement</a
      >, <a href="https://nownownow.com/"
        >discover some other great pages on nownownow.com</a
      >, and create your own.
    </p>
  </main>
</BaseLayout>
