<section>
  <h2 class="gradient-text community-feature-title">
    Be part of the community
  </h2>
  <p>
    At the heart of everything I do lies a deep commitment to building and
    nurturing communities. Whether it's contributing to open-source projects,
    producing podcasts, mentoring and educating, or embracing the role of a
    lifelong learner, fostering a sense of belonging and collective growth is my
    driving force.
  </p>
  <p>
    Community, to me, is a powerful catalyst for innovation, collaboration, and
    personal growth. It's a space where diverse perspectives converge, ideas are
    challenged and refined, and knowledge is shared freely. Within these vibrant
    ecosystems, we find the support and inspiration to push boundaries, tackle
    complex problems, and collectively shape the future.
  </p>
  <ul class="reset-list">
    <li>
      <a
        class="button primary-button"
        href="https://schalkneethling.com/discord"
        >Join the community on Discord</a
      >
    </li>
    <li>
      <a class="button primary-button" href="https://schalkneethling.com/slack"
        >Join the community on Slack</a>
    </li>
  </ul>
</section>
