<h1>
  My name is Schalk Neethling, a passionate frontend engineer and web
  accessibility activist.
</h1>
<p>
  I fell in love with the web 15 years ago and ever since then I have been an
  evangelist for open source, the open web, and web accessibility. As an indie
  maker, open source developer, mentor, and podcaster, I love bringing new ideas
  to life and elevating voices aiming to make a positive impact. I believe in
  respect, openness, and creating opportunities for growth.
</p>
