---
import Social from "./Social.astro";

const socialLinks = [
  {
    linkLabel: "Collaborate with me on GitHub",
    url: "https://github.com/schalkneethling",
  },
  {
    linkLabel: "Learn with me on YouTube",
    url: "https://www.youtube.com/channel/UCaIC2hpfo9av8-R7g9qE2sw",
  },
  {
    linkLabel: "Let's chat on Mastodon (Hachyderm)",
    url: "https://hachyderm.io/@schalkneethling",
  },
  {
    linkLabel: "Get the newsletters on Substack",
    url: "https://schalkneethling.substack.com/",
  },
  {
    linkLabel: "Connect with me on LinkedIn",
    url: "https://www.linkedin.com/in/schalkneethling/",
  },
];
---

<footer class="page-footer">
  <nav aria-label="Social links">
    <ul>
      {
        socialLinks.map((link) => (
          <li>
            <Social {...link} />
          </li>
        ))
      }
    </ul>
  </nav>
  <p>
    Thanks to <a href="https://www.opendoodles.com/"
      >Open Doodles for the great graphics</a
    >. Ain’t open-source great?!
  </p>
  <p>Copyright © {new Date().getFullYear()} - Schalk Neethling</p>
</footer>
