---
import type { CollectionEntry } from "astro:content";
import Posts from "./Posts.astro";
import { getPublishedPosts, sortPostsByPubDateDesc } from "../lib/posts";

const posts = await getPublishedPosts();
const sortedPosts: CollectionEntry<"posts">[] = sortPostsByPubDateDesc(posts);
const latestPosts: CollectionEntry<"posts">[] = sortedPosts.slice(0, 3);
---

<section aria-labelledby="latest-posts">
  <h2 id="latest-posts">Latest Posts</h2>
  <Posts posts={latestPosts} />
</section>
