<nav aria-label="Main navigation">
  <ul class="reset-list nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/tags/">Tags</a></li>
  </ul>
</nav>
