.page-header {
  h1::before {
    display: block;
    content: "";
    background: transparent url("../media/scripting-on-caffeine.svg") 0 0
      no-repeat;
    width: 450px;
    height: 150px;
  }
}